<div class="container">
  <div class="card">
    <div class="content-user">
      <img class="user-img" [src]="getUserImage()" alt="User Image">
      <div class="user-info">
        <h1 class="poppins-medium mb-5 name">{{getUser().display_name}}</h1>
        <h2 class="poppins-medium c-grey email">{{getUser().email}}</h2>
        <div class="card-info mt-10">
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5 title">Country</p>
            <h1 class="poppins-medium info">{{getUser().country}}</h1>
          </div>
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5 title">Followers</p>
            <h1 class="poppins-medium info">{{getUser().followers?.total}}</h1>
          </div>
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5 title">Product</p>
            <h1 class="poppins-medium info">{{getUser().product | titlecase }}</h1>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <ng-template [ngIf]="playlists && playlists.length > 0">
      <div class="d-flex justify-content-between mb-10 mt-10">
        <h2>Playlists</h2>
        <button mat-stroked-button (click)="openDialogPlaylist()">Create</button>
      </div>
      <div class="playlists">
        <div *ngFor="let playlist of playlists; let index = index">
          <app-card-playlist [playlist]="playlist" [index]="index"></app-card-playlist>
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="playlists && playlists.length === 0">
      <h1 class="text-center">You don't have any Playlist!</h1>
      <div class="d-flex justify-content-center mb-10 mt-10">
        <button mat-stroked-button (click)="openDialogPlaylist()">Create Playlist</button>
      </div>
    </ng-template>
  </div>
</div>
