<div class="container">
  <div class="card">
    <div class="content-user">
      <img class="user-img pre-image" [src]="userImage?.url || defaultUserImage" alt="User Image">
      <div class="user-info">
        <h1 class="fs-28 poppins-medium mb-5">{{user?.display_name}}</h1>
        <h2 class="poppins-medium c-grey">{{user?.email}}</h2>
        <div class="card-info mt-10">
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Country</p>
            <h1 class="fs-28 poppins-medium">{{user?.country}}</h1>
          </div>
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Followers</p>
            <h1 class="fs-28 poppins-medium">{{user?.followers?.total}}</h1>
          </div>
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Product</p>
            <h1 class="fs-28 poppins-medium">{{user?.product | titlecase }}</h1>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="playlists">
      <div *ngFor="let playlist of playlists; let index = index">
        <app-cardPlaylist [playlist]="playlist" [index]="index"></app-cardPlaylist>
      </div>
    </div>
  </div>
</div>
