<div class="container">
  <div class="card">
    <div class="content-user">
      <img class="user-img pre-image" [src]="userImage?.url || defaultUserImage" alt="User Image">
      <div class="user-info">
        <h1 class="fs-28 poppins-medium mb-5">{{user?.display_name}}</h1>
        <h2 class="poppins-medium c-grey">{{user?.email}}</h2>
        <div class="card-info mt-10">
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Country</p>
            <h1 class="fs-28 poppins-medium">{{user?.country}}</h1>
          </div>
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Followers</p>
            <h1 class="fs-28 poppins-medium">{{user?.followers.total}}</h1>
          </div>
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Product</p>
            <h1 class="fs-28 poppins-medium">{{user?.product | titlecase }}</h1>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card-playlist" matRipple>
      <h3 class="poppins-medium align-self-center mr-20">#1</h3>
      <img src="assets/images/default-playlist.svg" alt="Playlist" class="playlist-img align-self-center mr-15">
      <div class="align-self-center">
        <h3 class="poppins-medium">Tennessee – Hans Zimmer</h3>
        <p>18 tracks</p>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="align-self-center ml-auto">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon color="warn">delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </div>
    <div class="card-playlist" matRipple>
      <h3 class="poppins-medium align-self-center mr-20">#1</h3>
      <img src="assets/images/default-playlist.svg" alt="Playlist" class="playlist-img align-self-center mr-15">
      <div class="align-self-center">
        <h3 class="poppins-medium">Tennessee – Hans Zimmer</h3>
        <p>18 tracks</p>
      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="align-self-center ml-auto">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon color="warn">delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
