<div class="container">
  <div class="card">
    <div class="content-user">
      <img class="user-img" src="assets/images/felipe.png" alt="User Image">
      <div class="user-info">
        <h1 class="fs-28 poppins-medium mb-5">Felipe Gerolomo</h1>
        <h2 class="poppins-medium c-grey">felipegerolomo@gmail.com</h2>
        <div class="card-info mt-10">
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Country</p>
            <h1 class="fs-28 poppins-medium">Brazil</h1>
          </div>
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Followers</p>
            <h1 class="fs-28 poppins-medium">80</h1>
          </div>
          <div class="info-item">
            <p class="poppins-medium c-grey mb-5">Product</p>
            <h1 class="fs-28 poppins-medium">Premium</h1>
          </div>
        </div>
      </div>
    </div>
    <button mat-raised-button color="primary" class="w-100 mt-30">Playlist</button>
  </div>
</div>
