<div class="card-music">
  <div class="align-self-center index">
    <h3 class="poppins-medium align-self-center">#{{index+1}}</h3>
  </div>
  <img [src]="getMusicImage()" alt="Playlist" class="music-img align-self-center mr-15">
  <div class="align-self-center">
    <h3 class="poppins-medium">{{music?.name}}</h3>
    <p>{{getArtist()}}</p>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!selectMode" class="align-self-center ml-auto">
    <mat-icon>more_horiz</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon color="warn">delete</mat-icon>
      <span>Remove</span>
    </button>
  </mat-menu>
  <button mat-stroked-button color="primary" *ngIf="selectMode" class="align-self-center ml-auto" (click)="onSelectSong.emit(music)" [disabled]="isSelected">Add</button>
</div>
