<h2 class="text-center">Adicionar Playlist</h2>
<form class="mt-15" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-slide-toggle formControlName="public">Public</mat-slide-toggle>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-20">
    <button mat-flat-button color="warn" class="mr-10" [mat-dialog-close]="false">Cancelar</button>
    <button mat-flat-button type="submit" color="primary" [disabled]="!formGroup.valid">Salvar</button>
  </div>
</form>
