<div class="container">
  <div class="card">
    <div>
      <img class="center-image" src="assets/images/Gerofy.svg" alt="Gerofy Logo">
      <h2 class="text-center">Manage your playlists</h2>
    </div>

    <div class="btn-spotify" matRipple (click)="authentication()" >
      <img class="spotify-icon" src="assets/images/spotify.svg" alt="Log in with Spotify">
      Log in with Spotify
    </div>
    <p class="text-center c-grey">Don’t have an account? <a class="c-spotify" href="#">Sign up</a></p>
  </div>
</div>
