@import ./assets/styles/bootstrap-grid.min.css
@import ./assets/styles/_spaces.scss
@import ./assets/styles/_material-theme.scss
@import ./assets/styles/_fonts.sass
@import ./assets/styles/_colors.sass
@import ./assets/styles/_scrollbar.sass
@import ./assets/styles/_snackBar.sass

body
    background-color: #EFF1F4
    overflow-y: hidden

.card
    padding: 20px
    border-radius: 30px
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.16)
    background-color: white

.center-image
    display: block
    margin: 0 auto

.w-100
    width: 100%

mat-form-field
    width: 100%

hr 
    border-width: 1px
    border-style: double
    border-color: #BCC2D0
    border-radius: 10px
    margin: 16px 0px

@media (max-width: 425px)
    ::ng-deep .cdk-overlay-pane
        max-width: 100%
    body
        overflow-y: unset
    .card
        width: 100%!important
