<div class="header d-flex justify-content-between">
  <div class="hidden-element"></div>
  <h2 class="align-self-center">Add Songs</h2>
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="formGroup">
  <div class="row mt-20">
    <div class="col">
      <mat-form-field appearance="outline">
        <mat-label>Search Songs</mat-label>
        <input matInput placeholder="Name" formControlName="search">
      </mat-form-field>
    </div>
  </div>
</form>
<div class="row" *ngFor="let song of getSongs(); let index = index">
    <div class="col">
        <app-card-music [music]="song" [isSelected]="isSelected(song)" [index]="index" [selectMode]="true" (onSelectSong)="onSelectSong($event)"></app-card-music>
    </div>
</div>
