<div class="container">
  <div class="card">
    <div class="content-playlist">
      <img class="playlist-img" [src]="getPlayListImage()" alt="PlayList Image">
      <div class="playlist-info align-self-center">
        <h4 class="poppins-medium playlist">Playlist</h4>
        <h2 class="poppins-medium name">{{playlist?.name}}</h2>
        <h5 class="poppins created-by">Created by: <span class="poppins-medium">{{playlist?.owner.display_name}}</span> •
          {{playlist?.tracks?.total}} tracks </h5>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-10 mt-10">
      <h2>Musics</h2>
      <button mat-stroked-button color="primary" (click)="openDialogMusics()">Add</button>
    </div>
    <div class="songs mt-20">
      <div *ngFor="let music of playlist?.tracks?.items; let index = index">
        <app-card-music [music]='music?.track' (onRemoveSong)="onRemoveSong($event)" [index]="index"></app-card-music>
      </div>
    </div>
  </div>
</div>
